[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PatientProfiles"]
	path = PatientProfiles
	url = https://github.com/darwin-eu-dev/patientprofiles
	shallow = true
	registered = true
