[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CodelistGenerator"]
	path = CodelistGenerator
	url = https://github.com/darwin-eu/CodelistGenerator
	registered = false
[submodule "DrugUtilisation"]
	path = DrugUtilisation
	url = https://github.com/darwin-eu-dev/drugutilisation
[submodule "PaRe"]
	path = PaRe
	url = https://github.com/darwin-eu-dev/pare
[submodule "PatientProfiles"]
	path = PatientProfiles
	url = https://github.com/darwin-eu-dev/patientprofiles
[submodule "TreatmentPatterns"]
	path = TreatmentPatterns
	url = https://github.com/darwin-eu-dev/treatmentpatterns
[submodule "omopgenerics"]
	path = omopgenerics
	url = https://github.com/darwin-eu-dev/omopgenerics
[submodule "visOmopResults"]
	path = visOmopResults
	url = https://github.com/oxford-pharmacoepi/visOmopResults
	registered = false
