[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CohortCharacteristics"]
	path = CohortCharacteristics
	url = https://github.com/darwin-eu-dev/cohortcharacteristics
[submodule "DrugUtilisation"]
	path = DrugUtilisation
	url = https://github.com/darwin-eu-dev/drugutilisation
[submodule "PatientProfiles"]
	path = PatientProfiles
	url = https://github.com/darwin-eu-dev/patientprofiles
[submodule "omopgenerics"]
	path = omopgenerics
	url = https://github.com/darwin-eu-dev/omopgenerics
